@model GameViewModel

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Scores</h4>
                <hr>
            </div>
        </div>
        
        <button type="button" class="btn btn-link" data-toggle="ajax-modal" data-url="@Url.Action("AddScore")" ><i class="fas fa-plus"></i>  Add</button>

        <!-- Contacts table -->
        @await Html.PartialAsync("_ScoreTable", Model)
        


    </div>
</div>