@model List<HealthIssueViewModel>

@foreach (var item in Model)
{
    <div class="card mt-3">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                   <label>@item.Date.ToString("dd/MM/yyyy")</label>
                </dt>
                <dd class="col-sm-3">
                    @item.Name
                </dd>
                <dd class="col-sm-3">
                    @item.Description
                </dd>
            </dl>
        </div>
    </div>
}